<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>administrador-formadepago-lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-icon name="water" style="zoom:2.0;"></ion-icon>
      <ion-label>Transferencia</ion-label>
      <br />
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon name="water" style="zoom:2.0;"></ion-icon>
      <ion-label>Efectivo</ion-label>
      <br />     
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
  </ion-list>
  
  
  <ion-fab float-left>
    <ion-fab-button [routerLink]="['/administrador-formadepago']">
    <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom" >

    <ion-tab-button tab="home" [routerLink]="['/administrador-inicio']">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mentenedor" [routerLink]="['/administrador-mecanicos']">
      <ion-icon name="person"></ion-icon>
      <ion-label>Mantenedor</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="estadistica">
      <ion-icon name="map"></ion-icon>
      <ion-label>Estadistica</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
