<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Mantenedor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-item class="color-button-item" [routerLink]="['mecanicos']">
      <ion-label>
        Mecanicos
      </ion-label>
      <ion-icon name="people" slot="end"></ion-icon>
    </ion-item>
    <ion-item class="color-button-item" [routerLink]="['aceites']">
      <ion-label>
        Aceite
      </ion-label>
      <ion-icon name="water" slot="end"></ion-icon>
    </ion-item>
    <ion-item class="color-button-item" [routerLink]="['autos']">
      <ion-label>
        Automóvil
      </ion-label>
      <ion-icon name="car" slot="end"></ion-icon>
    </ion-item>
    <ion-item class="color-button-item" [routerLink]="['servicios']">
      <ion-label>
        Tipo Servicio
      </ion-label>
      <ion-icon name="server" slot="end"></ion-icon>
    </ion-item>
    <ion-item class="color-button-item" [routerLink]="['forma-pago']">
      <ion-label>
        Forma de pago
      </ion-label>
      <ion-icon name="cash" slot="end"></ion-icon>
    </ion-item>
  </ion-content>
</ion-content>
