<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>  
    </ion-buttons>
    <ion-title>Agenda Mantencion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group class="ion-item-group-aling">
  <ion-button [routerLink]="['/cliente-inicio']" class="ion-button-size" expand="small" color="success">
    Auto
  </ion-button>

  <ion-icon name="code-outline" class="code-outline-aling"></ion-icon>

  <ion-button type="button" [routerLink]="['/cliente-servicio']" class="ion-button-size" expand="small" color="primary">
    Servicio
  </ion-button>

  <ion-icon name="code-outline" class="code-outline-aling"></ion-icon>

  <ion-button [routerLink]="['/cliente-lugar']" class="ion-button-size" expand="small" color="light">
    Lugar
  </ion-button>

  <ion-icon name="code-outline" class="code-outline-aling"></ion-icon>

  <ion-button [routerLink]="['/cliente-mecanico']" class="ion-button-size" expand="small" color="light">
    Mecanico
  </ion-button>

  <ion-icon name="code-outline" class="code-outline-aling"></ion-icon>
  
  <ion-button [routerLink]="['/cliente-pago']" class="ion-button-size" expand="small" color="light">
    Pago
  </ion-button>
  </ion-item-group>

  <form #form="ngForm" (ngSubmit)="servicio(form)">
       <ion-item lines="full">
      <ion-icon name="search-circle-outline"></ion-icon>
      <ion-select interface="action-sheet" placeholder="Tipo de Mantencion">
        <ion-select-option value="red">I</ion-select-option>
        <ion-select-option value="purple">II</ion-select-option>
        <ion-select-option value="yellow">III</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="full">
      <ion-icon name="search-circle-outline"></ion-icon>
      <ion-select interface="action-sheet" placeholder="Mantencion">
        <ion-select-option value="red">I</ion-select-option>
        <ion-select-option value="purple">II</ion-select-option>
        <ion-select-option value="yellow">III</ion-select-option>
      </ion-select>
    </ion-item>   
    
    
        <h4>Aceites disponibles</h4>
        <ion-list radio-group >
        <ion-card>
          <ion-item>
            <ion-label>Seleccionar</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <img src="assets/img/aceite.JPG">
          <ion-card-content>
            <ion-card-title>
              Aceites Lubricantes
              </ion-card-title>
            <p>
              Manteniendo una relación de trabajo y mejora continua de primer nivel, 
              con una constante asesoría técnica.
            </p>
          </ion-card-content>          
        </ion-card>      

        <ion-card>
          <ion-item>
            <ion-label>Seleccionar</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <img src="assets/img/aceite0.JPG">
          <ion-card-content>
            <ion-card-title>
              Aceites Lubricantes
              </ion-card-title>
            <p>
              Manteniendo una relación de trabajo y mejora continua de primer nivel, 
              con una constante asesoría técnica.
            </p>
          </ion-card-content>          
        </ion-card>   

        <ion-card>
          <ion-item>
            <ion-label>Seleccionar</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <img src="assets/img/aceite1.JPG">
          <ion-card-content>
            <ion-card-title>
              Aceites Lubricantes
              </ion-card-title>
            <p>
              Manteniendo una relación de trabajo y mejora continua de primer nivel, 
              con una constante asesoría técnica.
            </p>
          </ion-card-content>          
        </ion-card>   
        </ion-list>

    <ion-row>
      <ion-col col-6>
        <ion-button [routerLink]="['/cliente-inicio']"  type="submit" color="danger" expand="block">
          <ion-icon name="caret-back-outline"></ion-icon>
          Volver
        </ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button [routerLink]="['/cliente-lugar']"  type="submit" color="primary" expand="block">
          Siguiente
          <ion-icon name="caret-forward-sharp"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    

  </form>

</ion-content>
  <ion-tab-bar slot="bottom" >

    <ion-tab-button  [routerLink]="['/cliente-inicio']">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button  [routerLink]="['/cliente-mis-servicios']">
      <ion-icon name="person"></ion-icon>
      <ion-label> Mis Reservas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
