<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Forma de Pago</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formaPagoForm"  (ngSubmit)="saveUpdateFormaPago()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input [(ngModel)]="formaPago.nombre" name="nombre" formControlName="nombre" autocomplete="off" type="text" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Comentario</ion-label>
        <ion-textarea [(ngModel)]="formaPago.comentario" name="comentario" formControlName="comentario" autocomplete="off" type="text" ngModel required></ion-textarea>
      </ion-item>
     
    </ion-list>
    <ion-button expand="block" share="round" color="success" type="submit" >Guardar</ion-button>
  </form>
</ion-content>
