<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="searchServicio($event)" placeholder="Buscar"></ion-searchbar>
  <ion-list>
    <ion-item-sliding *ngFor="let servicio of Servicio">
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon name="server" style="zoom: 3;"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>{{servicio.nombre}}</h2>
          <h2>{{servicio.descripcion}}</h2>
          <p>{{servicio.valor}}</p>
        </ion-label>
        <ion-toggle slot="end" color="success" [(ngModel)]="servicio.estado" (ionChange)="updateServicio(servicio.$key, servicio.estado)"></ion-toggle>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="deleteAlertConfirm(servicio.$key, servicio.nombre)">Eliminar</ion-item-option>
        <ion-item-option color="success" (click)="addeditModal(servicio.$key)">Editar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addeditModal(null)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
