<ion-header class="ion-text-center">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back"></ion-back-button>
        </ion-buttons>
        <ion-title>Registrate</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding='true'>
    <form [formGroup]="registroForm" (ngSubmit)="register()">
        <ion-list>
            <ion-item>
                <ion-label position="stacked">Rut</ion-label>
                <ion-input [(ngModel)]="usuario.rut" name="rut" formControlName="rut" autocomplete="off" type="text" (ionBlur)="formatRut()"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Nombre</ion-label>
                <ion-input [(ngModel)]="usuario.nombre" name="nombre" formControlName="nombre" autocomplete="off" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Apellido</ion-label>
                <ion-input [(ngModel)]="usuario.apellido" name="apellido" formControlName="apellido" autocomplete="off" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Correo</ion-label>
                <ion-input [(ngModel)]="usuario.email" name="correo" formControlName="correo" autocomplete="off" type="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Celular</ion-label>
                <ion-input [(ngModel)]="usuario.telefono" name="telefono" formControlName="telefono" autocomplete="off" type="tel"></ion-input>
                <ion-note slot="start">
                    +569
                </ion-note>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Contraseña</ion-label>
                <ion-input [(ngModel)]="password" name="clave" formControlName="clave" autocomplete="off" type="password"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Confirmar Contraseña</ion-label>
                <ion-input [(ngModel)]="confirmaPass" name="confirmaClave" formControlName="confirmaClave" autocomplete="off" type="password"></ion-input>
            </ion-item>
            <ion-item>
                <ion-toggle [(ngModel)]="condicion" formControlName="condicion" color="secondary"></ion-toggle>
                <ion-label>He leído y aceptado los <a routerLink='/terminos-y-condiciones'>términos y condiciones</a> y soy mayor de 18 años</ion-label>
            </ion-item>
            <ion-item lines='none'>
                <p>tienes una cuenta? <a routerLink='/login'>Inicia sesion.</a></p>
            </ion-item>
        </ion-list>
        <ion-button expand="block" share="round" color="tertiary" type="submit" [disabled]="registroForm.invalid">Registrate</ion-button>
    </form>
</ion-content>
