<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Términos y Condiciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Políticas de Privacidad</ion-label>
    </ion-list-header>

    <ion-item-group>
      <ion-item-divider>
        <ion-label class="ion-text-wrap">De conformidad con la Ley Nº 19.628 sobre la Protección de la Vida Privada, y a nuestra propias políticas de autorregulación, mediante las presente Política de Privacidad, MasterSpeed Chile Limitada (“MasterSpeed ”), desea informar a todas las personas (los “Usuarios”) que utilizan nuestra App Móvil MasterSpeed , el sitio web www.MasterSpeed .cl, y/o cualquier otra plataforma digital que se pueda crear en el futuro (la Aplicación”) acerca de su política de protección de datos de carácter personal, para que los Usuarios determinen libre y voluntariamente si desean facilitar a MasterSpeed  los datos personales que se les puedan requerir o que se puedan obtener sobre los mismos con ocasión de su acceso y uso de la Aplicación.</ion-label>
      </ion-item-divider>
      <ion-item lines="none">
        <ion-label>1. Objeto y Finalidad de la Obtención de Datos Personales</ion-label>
      </ion-item>
      <ion-item-divider>
        <ion-label class="ion-text-wrap">MasterSpeed  recoge datos personales de los Usuarios de la Aplicación (“Datos Personales”) a través de varios medios, como por ejemplo, a través del Formulario de Registro de la Aplicación. Asimismo, cuando los Usuarios utilizan la Aplicación, MasterSpeed  recopila datos de su ubicación exacta desde la aplicación MasterSpeed .
          Salvo que se indique otra cosa, sin perjuicio de que la entrega de los Datos Personales facilitados a MasterSpeed  es voluntaria, la falta de entrega de dichos Datos Personales podrá afectar a la calidad de los servicios proporcionados por MasterSpeed .
          Los Datos Personales de los Usuarios se incluyen en un fichero automatizado de MasterSpeed  con vistas a, entre otros, mantener una adecuada relación con los Usuarios; facilitar el acceso al servicio prestado por MasterSpeed ; prestar, gestionar, administrar, ampliar y mejorar los servicios y/o contenidos ofrecidos en la Aplicación; así como para atender adecuadamente cualquier consulta o solicitud de información planteada por los Usuarios y, en su caso, para el envío de información sobre los servicios o actividades de MasterSpeed  que pudieran ser del interés de los Usuarios.</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>2. Prestación de Servicios por parte de terceros</ion-label>
      </ion-item>
      <ion-item-divider>
        <ion-label class="ion-text-wrap">MasterSpeed  puede requerir poner los Datos Personales o parte de ellos a disposición de terceros prestadores de servicios, como por ejemplo los mecánicos que vayan a realizar el servicio técnico, otras empresas propiedad del grupo empresarial al que pertenece MasterSpeed , empresas informáticas, que podrán estar ubicadas en Chile o en otros países, algunos de los cuales pueden no ofrecer un nivel de protección equivalente al que existe en Chile con el fin del adecuado mantenimiento y funcionamiento de la Aplicación así como para la gestión de los pagos abonados por el Usuario por el uso del servicio contratado a través de la Aplicación. Los Usuarios autorizan expresamente la transferencia de sus datos personales a dichos terceros, con las finalidades anteriormente indicadas.</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>3. Seguridad de la información</ion-label>
      </ion-item>
      <ion-item-divider>
        <ion-label class="ion-text-wrap">MasterSpeed  manifiesta y garantiza que realizará en todo momento sus mejores esfuerzos para mantener la seguridad y confidencialidad de los Datos Personales y que continuará mejorando las medidas de seguridad adoptadas en línea con cualesquiera desarrollos legales y tecnológicos.</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>4. Derechos de los Usuarios</ion-label>
      </ion-item>
      <ion-item-divider>
        <ion-label class="ion-text-wrap">El Usuario podrá ejercitar en cualquier momento sus derechos de acceso, rectificación, cancelación y oposición al tratamiento de sus Datos Personales, mediante solicitud realizada en la siguiente dirección de e-mail: contacto@MasterSpeed.cl.</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>5. Modificaciones de la Política de Privacidad</ion-label>
      </ion-item>
      <ion-item-divider>
        <ion-label class="ion-text-wrap">En caso de que MasterSpeed  modifique la presente Política de Privacidad, MasterSpeed  publicará una notificación en la Aplicación para que los Usuarios puedan tener conocimiento de cualquier cambio en el tipo de Datos Personales que se recogen, las finalidades del tratamiento y/o las comunicaciones a terceros. En ningún caso cualesquiera modificaciones de la presente Política de Privacidad afectarán, por sí mismas, la elección que el Usuario haya formulado en lo que respecta al modo en que MasterSpeed  puede utilizar sus Datos Personales. Si en cualquier momento MasterSpeed  decidiese utilizar los Datos Personales de los Usuarios de forma distinta a la establecida en el momento de su obtención, se lo notificará a los Usuarios por correo electrónico solicitando su previo consentimiento al respecto.</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>6. Aceptación</ion-label>
      </ion-item>
      <ion-item-divider>
        <ion-label class="ion-text-wrap">El envío de Datos Personales, mediante los formularios de registro u otros que existan de la Aplicación, o por el uso de otros servicios ofrecidos por MasterSpeed  supone el consentimiento expreso al tratamiento de los Datos Personales por MasterSpeed  en los términos descritos en la presente Política de Privacidad.</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>7. Contacto</ion-label>
      </ion-item>
      <ion-item-divider>
        <ion-label class="ion-text-wrap">Cualquier otra duda o contacto en relación a esta Política de Privacidad favor escribir a master.speed.chile@gmail.com.</ion-label>
      </ion-item-divider>
    </ion-item-group>
  </ion-list>
</ion-content>
