<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Aceite</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h2>Nombre: {{aceiteRes.nombre}}</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h2>Descripcion: {{aceiteRes.descripcion}}</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap"><h2>Foto:</h2></ion-label>
      <ion-thumbnail>
        <img [src]="aceiteRes.foto">
      </ion-thumbnail>
    </ion-item>
  </ion-item-group>
</ion-content>
