<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let agenda of Agenda">
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>{{agenda.servicio}} {{agenda.mantencion}}</ion-label>
      <ion-button fill="outline" slot="end" [color]="agenda.color">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-card-content>
      <ion-label>
        <h2>{{agenda.direccion}}</h2>
        <ion-note>
          {{agenda.hora}}hr - {{agenda.fecha}}
        </ion-note>
      </ion-label>

    </ion-card-content>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-button color="primary" size="small">
          <ion-icon name='person-outline'></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" size="small">
          <ion-icon name='navigate-outline'></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" size="small">
          <ion-icon name='car-outline'></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
