<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Info cliente</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h2>Nombre: {{userRes.nombre}} {{userRes.apellido}}</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h2>Telefono: +569{{userRes.telefono}}</h2>
      </ion-label>
    </ion-item>
  </ion-item-group>
</ion-content>
