<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Modelo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let modelo of Modelo">
      <ion-item>
        <ion-icon name="checkmark" color="primary"></ion-icon>
        <ion-label class="ion-margin-start">
          <h2>{{modelo.nombre}}</h2>
        </ion-label>
        <ion-toggle slot="end" color="success" checked="true"></ion-toggle>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="danger">Eliminar</ion-item-option>
        <ion-item-option color="success">Editar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
