<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Mecanicos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="searchUsuario($event)" placeholder="Buscar"></ion-searchbar>
  <ion-list>
    <ion-item-sliding *ngFor="let usuario of Usuario">
      <ion-item>
        <ion-avatar slot="start">
          <img *ngIf="usuario.foto" [src]="usuario.foto">
          <img *ngIf="!usuario.foto" src="/assets/icon/favicon.png">
        </ion-avatar>
        <ion-label>
          <h2>{{usuario.nombre}}</h2>
          <h3>{{usuario.direccion}}</h3>
        </ion-label>
        <ion-toggle slot="end" color="success" [(ngModel)]="usuario.estado" (click)="updateUsuario(usuario.$key, usuario.estado)"></ion-toggle>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="deleteAlertConfirm(usuario.$key, usuario.nombre)">Eliminar</ion-item-option>
        <ion-item-option color="success" (click)="addeditModal(usuario.$key)">Editar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addeditModal(null)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
