<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Agenda</ion-label>
    </ion-tab-button>
    <!--
          <ion-tab-button tab="schedule">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Schedule</ion-label>
            <ion-badge>6</ion-badge>
          </ion-tab-button>
          -->


    <ion-tab-button tab="reservas">
      <ion-icon name="reader"></ion-icon>
      <ion-label>Mis Reservas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="notificaciones">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Notificaciones</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="mantenedor">
      <ion-icon name="people"></ion-icon>
      <ion-label>Mantenedor</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="estadisticas">
      <ion-icon name="stats-chart"></ion-icon>
      <ion-label>Estadisticas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
