<ion-header>
  <ion-toolbar>
    <ion-title>Felicidades, ya registramos tu reserva!!</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>Estimado/a: {{data.nombre}}</ion-label><br>
  <ion-label>codigo reserva: {{data.idReserva}}</ion-label><br>
  <ion-label>tu servicio de mantencion {{data.mantencion}} fue agendado para el dia {{data.fecha}}</ion-label><br>
  <ion-label>en la dirección {{data.direccion}}</ion-label>

</ion-content>
