<ion-header>
  <ion-toolbar color="danger">
    <ion-title class="ion-text-center">Felicidades, ya registramos tu reserva!!</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="color-card">
    <ion-card-header>
      <ion-card-title>Estimado/a: {{data.nombre}}</ion-card-title>
      <ion-card-subtitle>codigo reserva: {{data.idReserva}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      tu servicio de mantencion {{data.mantencion}} fue agendado para el dia {{data.fecha}}
      en la dirección {{data.direccion}}
    </ion-card-content>
  </ion-card>
</ion-content>
