<ion-header>
  <ion-toolbar>
    <ion-title>Felicidades, ya registramos tu reserva!!</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>Estimado/a: Juanito Lopez</ion-text>
  <ion-text>codigo reserva: 8899655</ion-text>
  <ion-text>tu servicio de mantencion 10.000km fue agendado para el dia Martes 25 de Febrero, 2020</ion-text>
  <ion-text>en la direccion Perico los palotes 452 Maipu - Santiago</ion-text>

</ion-content>
