<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mecanicos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="mecanicoForm" (ngSubmit)="saveUpdateUsuario()">
    <ion-list>

      <ion-item>
        <ion-label position="stacked" color="primary">Rut</ion-label>
        <ion-input [(ngModel)]="usuario.rut" name="rut" formControlName="rut" autocomplete="off" (ionBlur)="formatRut()" [disabled]="isRut" (ionChange)="parseUpperCase()" >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Nombre</ion-label>
        <ion-input [(ngModel)]="usuario.nombre" name="nombre" formControlName="nombre" autocomplete="off" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Apellido</ion-label>
        <ion-input [(ngModel)]="usuario.apellido" name="apellido" formControlName="apellido"
          autocomplete="off" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Email</ion-label>
        <ion-input [(ngModel)]="usuario.email" name="mail" formControlName="mail" autocomplete="off" type="email" disabled="true">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Telefono</ion-label>
        <ion-input [(ngModel)]="usuario.telefono" name="telefono" formControlName="telefono" autocomplete="off" type="text">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Region</ion-label>
        <ion-select formControlName="region" placeholder="Selecciona.." [(ngModel)]="usuario.region" [disabled]="isRegion">
          <ion-select-option *ngFor="let region of Region" [value]="region.id">{{region.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" color="primary">Comuna</ion-label>
        <ion-select formControlName="comuna"  placeholder="Selecciona.." [(ngModel)]="usuario.comuna" (ionChange)="selectArea()">
          <ion-select-option *ngFor="let comuna of Comuna" [value]="comuna.id">{{comuna.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Sector</ion-label>
        <ion-input name="area" formControlName="area" type="text" disabled="true" [(ngModel)]="area">
        </ion-input>
      </ion-item>

    </ion-list>
    <ion-button expand="block" share="round" color="success" type="submit">Guardar</ion-button>
  </form>
</ion-content>
