<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mecanicos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="mecanicoForm" (ngSubmit)="saveUpdateUsuario()">
    <ion-list>

      <ion-item>
        <ion-label position="stacked">Rut</ion-label>
        <ion-input [(ngModel)]="usuario.rut" name="rut" formControlName="rut" autocomplete="off" type="number" ngModel
          clearOnEdit="true">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Dv</ion-label>
        <ion-input [(ngModel)]="usuario.dv" name="dv" formControlName="dv" autocomplete="off" type="text" ngModel
          required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input [(ngModel)]="usuario.nombre" name="nombre" formControlName="nombre" autocomplete="off" type="text"
          ngModel required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Apellido Paterno</ion-label>
        <ion-input [(ngModel)]="usuario.apellidoPaterno" name="apellidoPaterno" formControlName="apellidoPaterno"
          autocomplete="off" type="text" ngModel required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Apellido Materno</ion-label>
        <ion-input [(ngModel)]="usuario.apellidoMaterno" name="apellidoMaterno" formControlName="apellidoMaterno"
          autocomplete="off" type="text" ngModel required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Fecha Nacimiento</ion-label>
        <ion-input [(ngModel)]="usuario.fechaNacimiento" name="fechaNacimiento" formControlName="fechaNacimiento"
          autocomplete="off" type="text" ngModel required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input [(ngModel)]="usuario.mail" name="mail" formControlName="mail" autocomplete="off" type="email" ngModel
          required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input [(ngModel)]="usuario.contrasena" name="contrasena" formControlName="contrasena" autocomplete="off"
          type="password" ngModel required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Direccion</ion-label>
        <ion-input [(ngModel)]="usuario.direccion" name="direccion" formControlName="direccion" autocomplete="off"
          type="text" ngModel required>
        </ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="stacked">Telefono</ion-label>
        <ion-input [(ngModel)]="usuario.telefono" name="telefono" formControlName="telefono" autocomplete="off"
          type="text" ngModel required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="usuario.region" name="region" formControlName="region" autocomplete="off" type="text"
          value=7 ngModel>Región Metropolitana de Santiago</ion-input>
      </ion-item>

      <ion-item>
        <ion-searchbar expand="full" [(ngModel)]="usuario.comuna" name="comuna" formControlName="comuna"
          (input)="searchComuna($event)" placeholder="Comuna">
        </ion-searchbar>
      </ion-item>

      <ion-list>
        <ion-radio-group (ionChange)="checkValue($event)">
          <ion-item *ngFor="let comuna of Comuna">
            <ion-label>{{comuna.nombre}}</ion-label>
            <ion-radio value={{comuna.id}}></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-item>
        <ion-label position="stacked">Area</ion-label>
        <ion-input [(ngModel)]="usuario.area" *ngFor="let area of Area" name="area" formControlName="area"
          value={{area.id}} autocomplete="off" type="text" ngModel required>
          {{area.nombre}}
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Foto</ion-label>
        <ion-input [(ngModel)]="usuario.foto" (change)="uploadFile($event)" name="foto" formControlName="foto"
          autocomplete="off" type="file" accept="image/*"></ion-input>
      </ion-item>

    </ion-list>
    <ion-button expand="block" share="round" color="success" type="submit">Guardar
    </ion-button>
  </form>
</ion-content>