<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>cliente-mis-servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button [routerLink]="['/cliente-inicio']" class="ion-button-size" expand="small" color="success">
    Auto
  </ion-button>

  <ion-icon name="code-outline" class="code-outline-aling"></ion-icon>

  <ion-button type="button" [routerLink]="['/cliente-servicio']" class="ion-button-size" expand="small" color="primary">
    Servicio
  </ion-button>

  <ion-icon name="code-outline" class="code-outline-aling"></ion-icon>

  <ion-button [routerLink]="['/cliente-lugar']" class="ion-button-size" expand="small" color="light">
    Lugar
  </ion-button>

  <ion-icon name="code-outline" class="code-outline-aling"></ion-icon>

  <ion-button [routerLink]="['/cliente-mecanico']" class="ion-button-size" expand="small" color="light">
    Mecanico
  </ion-button>

  <ion-icon name="code-outline" class="code-outline-aling"></ion-icon>
  
  <ion-button [routerLink]="['/cliente-pago']" class="ion-button-size" expand="small" color="light">
    Pago
  </ion-button>

</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom" >

    <ion-tab-button [routerLink]="['/cliente-inicio']">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button  [routerLink]="['/cliente-mis-servicios']">
      <ion-icon name="person"></ion-icon>
      <ion-label>Mis Servicios</ion-label>
    </ion-tab-button>


  </ion-tab-bar>
</ion-tabs>
