ion-slide {
  display: block;
}
img {
  height: 70% !important;
  width: 70% !important;
}

ion-slides {
  --bullet-background: grey;
  --bullet-background-active: #8890B2;
}

ion-content.imgPortada{
  --background: url("/assets/img/portada.png") 0 0/100% 100% no-repeat;
}

.imgFooter{
  background: url("/assets/img/footer.svg") 0 0/100% 100% no-repeat;
}
a.button-native{
  background-color: #2B4FC5 !important;
}
.button-solid {
  --background: #2B4FC5;
  --color: #ffffff;
}
strong {
  color: #2B4FC5;
}
.ion-margin-bottom {
  margin-bottom: 135px;
}
h6 {
  font-size: 14px;
}
