<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>mecanico-inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Matencion 15.000 km</ion-label>
      <br />
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Matencion 15.000 km</ion-label>
      <br />     
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
  </ion-list>


</ion-content>

  <ion-tab-bar slot="bottom" >

    <ion-tab-button [routerLink]="['/mecanico-inicio']">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button  [routerLink]="['/mecanico-pedidos']">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Notificaciones</ion-label>
    </ion-tab-button>


  </ion-tab-bar>
