<ion-app>
  <ion-menu side="start" menuId="first" contentId="content1">
    <ion-header>
      <ion-toolbar>
        <ion-thumbnail slot="start">
          <ion-img src="../assets/shapes.svg"></ion-img>
        </ion-thumbnail>
        <ion-title>Nombre Persona</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="true" *ngFor="let pages of navigate">
          <ion-item [routerLink]="pages.url" routerDirection="forward">
            <ion-icon [name]="pages.icon" slot="start"></ion-icon>
            {{pages.title}}
          </ion-item>
        </ion-menu-toggle>
        <ion-item (click)="logoutUser()">
          <ion-icon slot="start" name="log-out"></ion-icon>
          <ion-label>
            Cerrar Sesion
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1">

    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" routerLink="/home">
          <ion-icon name="home"></ion-icon>
          <ion-label>Agenda</ion-label>
        </ion-tab-button>
        <!--
              <ion-tab-button tab="schedule">
                <ion-icon name="calendar"></ion-icon>
                <ion-label>Schedule</ion-label>
                <ion-badge>6</ion-badge>
              </ion-tab-button>
              -->


        <ion-tab-button tab="reservas" routerLink="/reservas">
          <ion-icon name="reader-outline"></ion-icon>
          <ion-label>Mis Reservas</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="notificaciones" routerLink="/notificaciones">
          <ion-icon name="notifications-outline"></ion-icon>
          <ion-label>Notificaciones</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="mantenedor" routerLink="/mantenedor">
          <ion-icon name="people-outline"></ion-icon>
          <ion-label>Mantenedor</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="estadisticas" routerLink="/estadisticas">
          <ion-icon name="stats-chart-outline"></ion-icon>
          <ion-label>Estadisticas</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-router-outlet>
</ion-app>

