<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Servicios</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="saveServicio()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input [(ngModel)]="servicio.nombre" name="nombre" autocomplete="off" type="text" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">valor</ion-label>
        <ion-input [(ngModel)]="servicio.valor" name="valor" autocomplete="off" type="number" ngModel clearOnEdit="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Descripcion</ion-label>
        <ion-textarea [(ngModel)]="servicio.descripcion" name="descripcion" autocomplete="off" type="text" ngModel clearOnEdit="true"></ion-textarea>
      </ion-item>
     
    </ion-list>
    <ion-button expand="block" share="round" color="success" type="submit" [disabled]="form.invalid">Guardar</ion-button>
  </form>
</ion-content>
