<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Aceites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="searchAceite($event)" placeholder="Buscar"></ion-searchbar>
  <ion-list>
    <ion-item-sliding *ngFor="let aceite of Aceites">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="aceite.foto">
        </ion-avatar>
        <ion-label>
          <h2>{{aceite.nombre}}</h2>
          <h3>{{aceite.descripcion}}</h3>
          <p>{{aceite.valor}}</p>
        </ion-label>
        <ion-toggle slot="end" color="success" [(ngModel)]="aceite.estado" (click)="updateAceite(aceite.$key, aceite.estado)"></ion-toggle>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="deleteAlertConfirm(aceite.$key, aceite.nombre)">Eliminar</ion-item-option>
        <ion-item-option color="success" (click)="addeditModal(aceite.$key)">Editar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addeditModal(null)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
