<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>  
    </ion-buttons>
    <ion-title>Agenda Mantencion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-group class="ion-item-group-aling">
  <ion-button [routerLink]="['/cliente-inicio']" class="ion-button-size" expand="small" color="success">
    Auto
  </ion-button>
  <ion-icon name="code-outline" class="code-outline-aling"></ion-icon>
  <ion-button type="button" [routerLink]="['/cliente-servicio']" class="ion-button-size" expand="small" color="success">
    Servicio
  </ion-button>
  <ion-icon name="code-outline" class="code-outline-aling"></ion-icon>
  <ion-button [routerLink]="['/cliente-lugar']" class="ion-button-size" expand="small" color="success">
    Lugar
  </ion-button>
  <ion-icon name="code-outline" class="code-outline-aling"></ion-icon>
  <ion-button [routerLink]="['/cliente-mecanico']" class="ion-button-size" expand="small" color="primary">
    Mecanico
  </ion-button>
  <ion-icon name="code-outline" class="code-outline-aling"></ion-icon>
  <ion-button [routerLink]="['/cliente-pago']" class="ion-button-size" expand="small" color="light">
    Pago
  </ion-button>
</ion-item-group>


  <ion-item lines="full">
    <ion-icon name="person-outline"></ion-icon>
    <ion-select interface="action-sheet" placeholder="Mecanico">
      <ion-select-option value="red">I</ion-select-option>
      <ion-select-option value="purple">II</ion-select-option>
      <ion-select-option value="yellow">III</ion-select-option>
    </ion-select>
  </ion-item>   

  <ion-item>
    <ion-label position="floating">Fecha</ion-label>
    <ion-datetime displayFormat="MM/DD/YYYY" min="1994-03-14"  value="2020-09-23T15:03:46.789"></ion-datetime>    
  </ion-item>
  <ion-item>
    <ion-label style="text-align-last: center;">
    <strong>Martes</strong> 11,2020
  </ion-label>
  </ion-item>
<ion-item style="background: darkgrey;">  
  <ion-grid>
    <ion-row>
      <ion-col>
        <div style="text-align-last: center;">
          09:00
          <br>
          <ion-icon name="information-circle" style="color: green;"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div style="text-decoration:line-through;text-align-last: center;">
          11:00
          <br>
        </div>
      </ion-col>
      <ion-col>
        <div style="text-align-last: center;">
          13:00
          <br>
          <ion-icon name="information-circle" style="color: orange;"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div style="text-align-last: center;">
          15:00
          <br>
          <ion-icon name="information-circle" style="color: green;"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div style="text-align-last: center;">
         17:00
         <br>
         <ion-icon name="information-circle" style="color: green;"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div style="text-decoration:line-through;text-align-last: center;">
         18:00
         <br>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
<ion-row>
  <ion-col col-6>
    <ion-button [routerLink]="['/cliente-lugar']"  type="submit" color="danger" expand="block">
      <ion-icon name="caret-back-outline"></ion-icon>
      Volver
    </ion-button>
  </ion-col>
  <ion-col col-6>
    <ion-button [routerLink]="['/cliente-pago']"  type="submit" color="primary" expand="block">
      Siguiente
      <ion-icon name="caret-forward-sharp"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>


</ion-content>

  <ion-tab-bar slot="bottom" >

    <ion-tab-button [routerLink]="['/cliente-inicio']">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/cliente-mis-servicios']">
      <ion-icon name="person"></ion-icon>
      <ion-label> Mis Reservas</ion-label>
    </ion-tab-button>


  </ion-tab-bar>
