<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Agenda Mantencion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-group class="ion-item-group-aling">
  <ion-button [routerLink]="['/cliente-inicio']" class="ion-button-size" expand="small" color="success">
    Auto
  </ion-button>
  <ion-icon name="code-outline" class="code-outline-aling"></ion-icon>
  <ion-button type="button" [routerLink]="['/cliente-servicio']" class="ion-button-size" expand="small" color="success">
    Servicio
  </ion-button>
  <ion-icon name="code-outline" class="code-outline-aling"></ion-icon>
  <ion-button [routerLink]="['/cliente-lugar']" class="ion-button-size" expand="small" color="success">
    Lugar
  </ion-button>
  <ion-icon name="code-outline" class="code-outline-aling"></ion-icon>
  <ion-button [routerLink]="['/cliente-mecanico']" class="ion-button-size" expand="small" color="primary">
    Mecanico
  </ion-button>
  <ion-icon name="code-outline" class="code-outline-aling"></ion-icon>
  <ion-button [routerLink]="['/cliente-pago']" class="ion-button-size" expand="small" color="light">
    Pago
  </ion-button>
</ion-item-group>


  <ion-item lines="full">
    <ion-icon name="person-outline"></ion-icon>
    <ion-select interface="action-sheet" placeholder="Mecanico">
      <ion-select-option value="red">I</ion-select-option>
      <ion-select-option value="purple">II</ion-select-option>
      <ion-select-option value="yellow">III</ion-select-option>
    </ion-select>
  </ion-item>   

 <ion-card>
  <ion-card-header tappable (click)="collapseCard = !collapseCard">
    <ion-card-title>Reservar</ion-card-title>
  </ion-card-header>
  <ion-card-content *ngIf="!collapseCard">

    <ion-item>
      <ion-input type="text" placeholder="Asunto" [(ngModel)]="event.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Descripcion" [(ngModel)]="event.desc"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Inicio</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Fin</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
    </ion-item>
    <!-- <ion-item>
      <ion-label>All Day?</ion-label>
      <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
    </ion-item> -->
    <ion-button fill="outline" expand="block" (click)="addEvent()" [disabled]="event.title == ''">Agregar</ion-button>

  </ion-card-content>
</ion-card>

<ion-row>
  <ion-col size="4">
    <!-- <ion-button expand="block" [color]="calendar.mode == 'month' ? 'primary' : 'secondary'" (click)="changeMode('month')">Mes</ion-button> -->
    <ion-button expand="block" [color]="calendar.mode == 'month' ? 'primary' : 'secondary'" >Mes</ion-button>
  </ion-col>
  <ion-col size="4">
    <!-- <ion-button expand="block" [color]="calendar.mode == 'week' ? 'primary' : 'secondary'" (click)="changeMode('week')">Semana</ion-button> -->
    <ion-button expand="block" [color]="calendar.mode == 'week' ? 'primary' : 'secondary'" >Semana</ion-button>
  </ion-col>
  <ion-col size="4">
    <!-- <ion-button expand="block" [color]="calendar.mode == 'day' ? 'primary' : 'secondary'" (click)="changeMode('day')">Día</ion-button> -->
    <ion-button expand="block" [color]="calendar.mode == 'day' ? 'primary' : 'secondary'" >Día</ion-button>
  </ion-col>

  <ion-col size="6" text-left>
    <!-- <ion-button fill="clear" (click)="back()"> -->
      <ion-button fill="clear" >
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-col>

  <ion-col size="6" text-right>
    <ion-button fill="clear" (click)="next()">
      <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>

<calendar 
[eventSource]="eventSource" 
[calendarMode]="calendar.mode" 
[currentDate]="calendar.currentDate"
 (onEventSelected)="onEventSelected($event)"
(onTitleChanged)="onViewTitleChanged($event)"
(onTimeSelected)="onTimeSelected($event)" 
startHour="6"
endHour="20"
step="30"
startingDayWeek="1">
</calendar>

<ion-row>
  <ion-col col-6>
    <ion-button [routerLink]="['/cliente-lugar']"  type="submit" color="danger" expand="block">
      <ion-icon name="caret-back-outline"></ion-icon>
      Volver
    </ion-button>
  </ion-col>
  <ion-col col-6>
    <ion-button [routerLink]="['/cliente-pago']"  type="submit" color="primary" expand="block">
      Siguiente
      <ion-icon name="caret-forward-sharp"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>


</ion-content>

  <ion-tab-bar slot="bottom" >

    <ion-tab-button [routerLink]="['/cliente-inicio']">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/cliente-mis-servicios']">
      <ion-icon name="person"></ion-icon>
      <ion-label> Mis Reservas</ion-label>
    </ion-tab-button>


  </ion-tab-bar>
