<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>cliente-inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group class="ion-item-group-aling">
  <ion-button [routerLink]="['/cliente-inicio']" class="ion-button-size" expand="small" color="primary">
    Auto
  </ion-button>
  <ion-icon name="code-outline" class="code-outline-aling"></ion-icon>
  <ion-button type="button" [routerLink]="['/cliente-servicio']" class="ion-button-size" expand="small"
    color="light">
    Servicio
  </ion-button>
  <ion-icon name="code-outline" class="code-outline-aling"></ion-icon>
  <ion-button [routerLink]="['/cliente-lugar']" class="ion-button-size" expand="small" color="light">
    Lugar
  </ion-button>
  <ion-icon name="code-outline" class="code-outline-aling"></ion-icon>
  <ion-button [routerLink]="['/cliente-mecanico']" class="ion-button-size" expand="small" color="light">
    Mecanico
  </ion-button>
  <ion-icon name="code-outline" class="code-outline-aling"></ion-icon>
  <ion-button [routerLink]="['/cliente-pago']" class="ion-button-size" expand="small" color="light">
    Pago
  </ion-button>
</ion-item-group>


  <form #form="ngForm" (ngSubmit)="inicio(form)">
    <ion-item lines="full">
      <ion-label position="floating">Patente</ion-label>
      <ion-input name="patente"  type="text" required ngModel></ion-input>
    </ion-item>


    <ion-item lines="full">
      <ion-icon name="search-circle-outline"></ion-icon>
      <ion-select interface="action-sheet" placeholder="Marca">
        <ion-select-option value="red">I</ion-select-option>
        <ion-select-option value="purple">II</ion-select-option>
        <ion-select-option value="yellow">III</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="full">
      <ion-icon name="search-circle-outline"></ion-icon>
      <ion-select interface="action-sheet" placeholder="Modelo">
        <ion-select-option value="red">I</ion-select-option>
        <ion-select-option value="purple">II</ion-select-option>
        <ion-select-option value="yellow">III</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Año</ion-label>
      <ion-input type="number" name="ano" required ngModel></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Cilindrada</ion-label>
      <ion-input type="number" name="cilindrada" required ngModel></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block">
          Siguiente
          <ion-icon name="caret-forward-sharp"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>


 

</ion-content>
<ion-tab-bar slot="bottom" >
  <ion-tab-button  [routerLink]="['/cliente-inicio']">
    <ion-icon name="home"></ion-icon>
    <ion-label>Inicio</ion-label>
  </ion-tab-button>

  <ion-tab-button  [routerLink]="['/cliente-mis-servicios']">
    <ion-icon name="person"></ion-icon>
    <ion-label>Mis Servicios</ion-label>
  </ion-tab-button>
</ion-tab-bar>



