<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>administrador-autos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form>
        <ion-item lines="full">
      <ion-select  interface="action-sheet" placeholder="Categoria">
        <ion-select-option value="red">I</ion-select-option>
        <ion-select-option value="purple">II</ion-select-option>
        <ion-select-option value="yellow">III</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Marca</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-select  interface="action-sheet" placeholder="Modelo">
        <ion-select-option value="red">I</ion-select-option>
        <ion-select-option value="purple">II</ion-select-option>
        <ion-select-option value="yellow">III</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Cancelar</ion-button>
        <ion-button type="submit" color="primary" expand="block">Crear</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom" >

    <ion-tab-button [routerLink]="['/administrador-inicio']">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/administrador-mecanicos']">
      <ion-icon name="person"></ion-icon>
      <ion-label>Mantenedor</ion-label>
    </ion-tab-button>

    <ion-tab-button >
      <ion-icon name="map"></ion-icon>
      <ion-label>Estadistica</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
