<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Autos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="autoForm" (ngSubmit)="saveUpdateAuto()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Añio</ion-label>
        <ion-input [(ngModel)]="auto.anio" name="anio" formControlName="anio" autocomplete="off" type="number" ngModel
          required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Marca</ion-label>
        <ion-input [(ngModel)]="auto.marca" name="marca" formControlName="marca" autocomplete="off" type="text" ngModel
          required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Modelo</ion-label>
        <ion-input [(ngModel)]="auto.modelo" name="modelo" formControlName="modelo" autocomplete="off" type="text"
          ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Tipo de Combustible</ion-label>
        <ion-select placeholder="Selecciona..." [value]="auto.combustible" formControlName="tipo"
          [(ngModel)]="auto.combustible">
          <ion-select-option *ngFor="let tipo of TipoCom" value="{{tipo.$key}}">{{tipo.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Patente</ion-label>
        <ion-input [(ngModel)]="auto.patente" name="patente" formControlName="patente" autocomplete="off" type="text"
          ngModel required></ion-input>
      </ion-item>

    </ion-list>
    <ion-button expand="block" share="round" color="success" type="submit">Guardar</ion-button>
  </form>
</ion-content>