<ion-header>
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Olvidaste tu contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="recuperarClave()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Correo</ion-label>
        <ion-input [(ngModel)]="correo" name="correo" autocomplete="off" type="email" placeholder="tu@email.com" ngModel required></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" share="round" color="success" type="submit" [disabled]="form.invalid">Recuperar</ion-button>
  </form>
</ion-content>
