<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>


    <ion-item>
    <ion-title>Servicios</ion-title>
    <ion-input></ion-input>
    <ion-icon name="server" style="zoom:2.0;"></ion-icon>
  </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-icon name="server" style="zoom:2.0;"></ion-icon>
      <ion-label>Cambio de Aceite</ion-label>
      <br />
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon name="server" style="zoom:2.0;"></ion-icon>
      <ion-label>Mantencion General</ion-label>
      <br />
     
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
  </ion-list>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/administrador-servicios']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
  <ion-tab-bar slot="bottom" >

    <ion-tab-button  [routerLink]="['/administrador-inicio']">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/administrador-mecanicos']">
      <ion-icon name="person"></ion-icon>
      <ion-label>Mantenedor</ion-label>
    </ion-tab-button>

    <ion-tab-button >
      <ion-icon name="map"></ion-icon>
      <ion-label>Estadistica</ion-label>
    </ion-tab-button>

  </ion-tab-bar>