<!--<ion-header>
  <ion-toolbar>
    <ion-title>
      cad home
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/crear-cuenta']" expand="block" color="primary">Necesitas una cuenta?</ion-button>
        <span class="divider line one-line">o</span>
        <span class="already">Ya eres usuario?</span>
        <ion-button [routerLink]="['/login']" expand="block" color="danger">Inicia</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>